<div class="d-flex justify-content-between align-items-center py-5 px-3">
  <h1 class="my-3">My upcoming bookings</h1>
</div>
<% unless @bookings.count.zero? %>
  <div class="row">
    <% @bookings.each do |booking| %>
    <%= render partial: "bookings/card_booking", locals: {booking: booking} %>
    <% end %>
  </div>
<% else %>
  <span class="text-muted">No booking found!</span>
<% end %>
