
<div>
<%= link_to "Book a car", cars_path, class: "btn btn-primary m-2" %>
<%= link_to "Add car", new_car_path, class: "btn btn-primary m-2" %>
<%= link_to "My cars", listmycars_cars_path, class: "btn btn-primary m-2" %>
<%= link_to "My bookings", bookings_path, class: "btn btn-primary m-2" %>
</div>

