<div class="d-flex justify-content-between"> 
  <div class="cars-list pr-3" style="width: 100%; height: 100vh;">
    <ul class="list-group list-group-flush">
      <% if @cars.empty? %>
        <h4 class="mt-5 text-center"> Sorry, your favorite Classy is not here yet </h4>
        <h4 class="text-center"> Please try another location or model! </h4>
        <%= link_to "Search again", root_path, class: "text-center" %>
      <% else %>
        <% @cars.each do |car| %>
          <li class="list-group-item"><%= render 'components/car_card', car: car %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="map" class="d-none d-sm-block" style="width: 100%; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div> 
</div>
