
<div class="row">
  <div class="cars-list col-12 col-md-6">
    <ul class="list-group list-group-flush">
    <% @cars.each do |car| %>
      <li class="list-group-item"><%= render 'components/car_card', car: car %></li>
    <% end %>
    </ul>
  </div>
  <div id="map" class="d-none d-md-block col-md-6"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
